<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Chatting Client by Aly Naguib</title>
    <link href="styles/normalize.css" rel="stylesheet"/>
    <link href="styles/styles.css" rel="stylesheet"/>

</head>
<body id="body" onload="onLoadPage();">

<div class="content" ng-switch on="currentActionImg">
    <div class="header">
        <div id="header1">
            <div class="left">
                <p id="mainTitle">WhatsApp</p>
            </div>
            <div id="right-header" class="right">
                <img id="icon_menu" src="img/icon_menu.png"/>

                <div class="menuContainer">
                    <ui>
                        <li ng-repeat="menuItem in currentMenu">{{menuItem}}</li>
                    </ui>
                </div>
                <div class="inline hidden" id="action_switcher">
                    <img ng-switch-when="contacts" id="icon_action2" src="img/icon_add_contacts.png"/>
                    <img ng-switch-when="calls" id="icon_action3" src="img/icon_new_call.png"/>
                    <img ng-switch-default id="icon_action1" src="img/icon_chats.png"/>
                </div>

                <img id="icon_search" src="img/icon_search.png"/>
            </div>
        </div>
        <div id="header2">
            <div class="sub-header" ng-click="changeView('calls');">
                <p>calls</p>

                <div class="hidden notif-subheader" id="notif-num1" ng-if="$root.views.calls.newCalls > 0">
                    {{$root.views.calls.newCalls}}
                </div>

                <div ng-switch-when="calls" id="calls" class="hidden selected"></div>
            </div>
            <div class="sub-header" ng-click="changeView('chats');">
                <p>chats</p>

                <div class="hidden notif-subheader" id="notif-num2" ng-if="$root.views.chats.newMessages > 0">
                    {{$root.views.chats.newMessages}}
                </div>

                <div ng-switch-default class="selected"></div>
            </div>
            <div class="sub-header" ng-click="changeView('contacts');">
                <p>contacts</p>

                <div ng-switch-when="contacts" id="contacts" class="hidden selected"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div ng-switch-default>
            <div ng-include="currentView"></div>
        </div>
        <div ng-switch-when="contacts">
            <div ng-include="currentView">
            </div>
        </div>
        <div ng-switch-when="calls">
            <div ng-include="currentView"></div>
        </div>
    </div>

</div>

</body>

<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/angular-sanitize.min.js"></script>
<script type="text/javascript" src="scripts/angular-animate.min.js"></script>
<script type="text/javascript" src="scripts/angular-ui-router.min.js"></script>
<link href="styles/ng-embed.min.css" rel="stylesheet"/>
<script type="text/javascript" src="scripts/ng-embed.min.js"></script>

<script type="text/javascript" src="scripts/app.js"></script>

</html>