<div ng-controller="chats">

    <div ng-repeat="chat in views.chats.data" class="row">
        <div class="contact-img inline">
            <img ng-src="{{chat.img}}"/>
        </div>
        <div class="contact-details inline right" ng-class="$last ? 'contact-details-last' : ''">
            <div class="contact-sub-details block" ng-click="goToDetails(chat)">
                <div class="inline left contact-row">
                    <span class="inline participant left">{{chat.chatHeadline}}</span>
                    <span class="inline contact-type right">
                        {{chat.timeInFormat}}
                    </span>
                    <span class="block status"
                          ng-bind-html="chat.lastMessage.content | embed">
                    </span>

                </div>
            </div>
        </div>
    </div>

</div>