@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
    font-family: RobotoMono-Regular;
    src: url(../fonts/RobotoMono-Regular.ttf);
}

body {
    font-family: RobotoMono-Regular;
}
.content {
    display: block;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #075e54;
    height: 104px;
    -webkit-box-shadow: -1px 2px 4px 0px #075e54;
    -moz-box-shadow: -1px 2px 4px 0px #075e54;
    box-shadow: -1px 2px 4px 0px #075e54;
}

#mainTitle {
    color: white;
    padding: 15px;
    margin: 0;
    font-size: 20px;
}

#header2 {
    white-space: nowrap;
    text-align: center;
    display: inline;
}

.sub-header {
    width: 33%;
    width: calc(33.5% - 6px);
    display: inline-block;
    text-align: center;
    margin: -8.5px 0;
    cursor: pointer;

}

.sub-header p {
    text-transform: uppercase;
    color: rgba(245, 245, 245, 0.62);
    margin-top: 17px;
    font-weight: bold;
    display: inline-block;
}

.sub-header:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.selected {
    height: 4px;
    background: white;
    border-bottom: 1px solid rgba(53, 62, 52, 0.28);
}

.left {
    float: left;
}

.right {
    float: right;
}

#right-header {
    direction: rtl;
    display: block;
    margin: 0px 0px 0px 0px;
}

#right-header img {
    padding: 10px 20px 10px 10px;
    width: 30px;
}

#right-header img:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.container {
    padding: 10px;
    position: relative;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.selected.ng-animate {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms;
}

.selected.ng-leave.ng-leave-active,
.selected.ng-enter {
    left: -50px;
}

.selected.ng-leave,
.selected.ng-enter.ng-enter-active {
    right: 0;
}

.notif-subheader {
    border-radius: 50%;
    padding: 8px;
    background: #ffffff;
    color: #075e54;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.menuContainer {
    display: none;
    position: absolute;
    min-width: 200px;
    max-width: 300px;
    right: 10px;
    top: 10px;
    max-height: 300px;
    background: #ffffff;
    border: 1px solid rgba(122, 122, 123, 0.52);
    box-shadow: -1px 2px 4px 0px #075e54;
    -webkit-box-shadow: -1px 2px 4px 0px #075e54;
    -moz-box-shadow: -1px 2px 4px 0px #075e54;
}

.open {
    display: inline-block;
}

.menuContainer li {
    display: block;
    text-align: left;
    padding: 10px;
    cursor: pointer;
}

.menuContainer li:hover {
    background-color: rgba(7, 94, 84, 0.08);
}

.block {
    display: block;
}

.row {
    display: block;
    width: 100%;
}

.contact-img img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 20px;
    -webkit-box-shadow: -1px 2px 4px 0px #075e54;
    -moz-box-shadow: -1px 2px 4px 0px #075e54;
    box-shadow: -1px 2px 4px 0px #075e54;
}

.contact-details {
    width: 77%;
    width: calc(100% - 120px);
    border-bottom: 1px solid rgba(153, 153, 153, 0.18);
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-details:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.notif-icon-row {
    float: right;
    margin-bottom: 14px;
}

.participant {
    font-weight: bold;
}